In [7]:
a = 10
b = 2
c = 30
d = 5
if(a<b and a<c and a<d):
    print("a is minimum")
elif(b<a and b<c and b<d):
    print("b is minimum")
elif(c<a and c<b and c<d):
    print("c is minimum")
else:
    print("d is minimum")

b is minimum

In [12]:
# armstrong number

num = 153
n3 = num % 10
n = num // 10
n2 = n % 10 
n1 = n // 10
if((n1**3) + (n2**3) + (n3**3) == num):
    print("It's an armstrong number")
else:
    print("Not an armstrong number")

It's an armstrong number

In [18]:

num = 1234
n4 = num % 10 
print(n4)
n = num // 10 
print(n)
n3 = n % 10
print(n3)
n11 = n // 10
print(n11)
n1 = n11 % 10
n12 = n11 // 10
print(n1)
print(n12)
total = (n12**2) + (n1**2) + (n3**2) + (n4**2)
print(total)

4
123
3
12
2
1
30

In [26]:
#there is a cylinder whose radius 3 cm , and height is 345 cm  
# find the volume of cylinder and the per volume cost is 230 rs calculate the price for juice of 5 litre
r = 3
h = 345
vol = 3.14 * (r**2) * h
print(vol)
per = vol/1000
print(per)
print(per * 5 *230)

9749.7
9.7497
11212.155000000002

In [32]:
# find out the sum of square of first 50 natural even number
total = 0
for i in range(2,102):
    if(i%2 == 0):
        total += i**2
print(total)

171700

In [41]:
# to check wether give number is prime of not
num = 2
if num ==1:
    print(num,"is not a prime number")
elif:
    print(num,)
for i in range(2,num):
    if(num % i ==0):
        p = 0
    else:
        p = 1
if(p==1):
    print("prime number")
else:
    print("Not a prime number")

prime number

In [58]:
num = int(input("Enter Number to check it is prime or Not: "))
if num > 1:
    for i in range(2,num):
        if(num % i == 0):
            print(num,"is not a prime number")
            break
    else:
        print(num,"is a prime number")
else:
    print(num,"is not a prime number")

Enter Number to check it is prime or Not: 8
8 is not a prime number

In [1]:
# to claculate the total of squaere of all the number divisible by 5 in the range from 
total = 0
for num in range(1,101):
    if(num % 5 ==0):
        total = total + num **2
print(total)

71750

In [6]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*", end="")
    print("")

*
**
***
****

In [16]:
for i in range(1,5):
    for j in range(5,i,-1):
        print("*", end="")
    print("")

****
***
**
*

In [22]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*", end="")
    print("")
for i in range(1,5):
    for j in range(4,i,-1):
        print("*", end="")
    print("")

*
**
***
****
***
**
*

In [47]:
for i in range(1,5):
    for j in range(4,i-1,-1):
        print(" ", end="")
    for k in range(1,i+1):
        print("*",end = "")
    print("")

    *
   **
  ***
 ****

In [50]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
    for k in range(n-1,i-1,-1):
        print(" ",end = "")
    for j in range(1,i+1):
        print("*",end = "")
    print("")

Enter number of rows: 5
    *
   **
  ***
 ****
*****

In [55]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
    for k in range(1,i+1):
        print(" ",end = "")
    for j in range(n-1,i-1,-1):
        print("*",end = "")
    print("")

Enter number of rows: 5
 ****
  ***
   **
    *

In [64]:
for i in range(1,5):
    for j in range(5,i,-1):
        print("*",end = "")
    for k in range(1,i+1):
        print(" ",end = "")
    print("")

****
***
**
*

In [102]:
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or i==5 or i==j:
            print("*",end= "")
        else:
            print(" ",end="")
    print("")

*
**
* *
*  *
*****

In [103]:
for i in range(1,6):
    
    for k in range(n-1,i-1,-1):
        print(" ",end = "")
    for j in range(1,i+1):
        if j==1 or i==5 or i==j:
            print("*",end= "")
        else:
            print(" ",end="")
    print("")

    *
   **
  * *
 *  *
*****

In [107]:
n=4
for i in range(1,n+1):
    for k in range(n-1,i-1,-1):
        print(" ",end = "")
    for j in range(1,i+1):
        print("*",end = " ")
    print("")

   *
  * *
 * * *
* * * *

In [116]:
for i in range(1,5):
    for j in range(4,i-1,-1):
        print(" ", end="")
    for k in range(1,i*2):
        print("*",end = "")
    print("")

    *
   ***
  *****
 *******